<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>openai</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/3.2.36/vue.global.min.js"></script>
    <style>
        html, body, #main {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="main">
    <div style="height: calc(100% - 68px);overflow: auto">
        <div v-for="item in list">
            <div style="padding:5px;width: 95%;text-align: right;">
                {{item.question}}
            </div>
            <div style="padding:5px 10px;width: 90%;">
                {{item.answer}}
            </div>
        </div>
    </div>

    <div style="position: fixed;bottom: 30px;">
        <input v-model="message" @keyup.enter.native="sendMsg" style="line-height: 36px;"/>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        <button v-if="!loading" @click="sendMsg" style="line-height: 36px;">
            <b style="font-size: 16px;"> 发送 </b>
        </button>
    </div>
</div>
<script type="text/javascript">

    const app = {
        data() {
            return {
                message: '',
                list: [],
                loading: false
            }
        },
        methods: {
            sendMsg() {
                if (!this.message) {
                    return;
                }
                const that = this;
                const item = {question: this.message};
                this.list.push(item);
                $.ajax({
                    url: "/openai/question",
                    type: "post",
                    data: {prompt: this.message},
                    dataType: 'json',
                    success: function (res) {
                        that.loading = false;
                        if (!res.success) {
                            item.answer = res.data;
                            return;
                        }
                        item.answer = res.data[0].text;

                    },
                    error: function () {
                        that.loading = false;
                        item.answer = '服务器出现错误，请稍后重试';
                    }
                });
                this.message = '';
                this.loading = true;
            }
        },
    }

    Vue.createApp(app).mount('#main')
</script>
</body>
</html>